{% extends "core/base.html" %}
{% block title %}Items{% endblock %}

{% block content %}
<div class="pb-6 grid grid-cols-4 gap-4">
    <div class="col-span-1">
        <form method="get" action="{% url 'item:items' %}">
            <input name="querry" class="w-full py-4 px-6 border rounded-xl " type="text" value="{{ querry }}">
        </form>
        sidebar
    </div>

    <div class="col-span-3">
        <div class="grid grid-cols-3 gap-3">
            {% for item in items %} 
            <div>
                <a href="{% url 'item:detail' item.id %}">
                <div>   
                    <img src="{{ item.image.url }}"  class="rounded-xl"/></div>
                     <div class="p-6 bg-white rounded-b-xl">
                         <h2 class= "text-2xl">{{ item.name }}</h2>
                        <p class="text-gray-500">Price: {{ item.price }}</p>
                     </div>
                </a>
            </div>
            {% endfor %} 
        </div>  
    </div>


</div>
{% endblock %}

